# vscode
.vscode 

# Intellij
*.iml
.idea

# secrets
.env

# npm
node_modules

# Don't include the compiled file in the repo.
/.next
/dist
/tmp
/release

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store
