/* borrowed from: https://css-tricks.com/snippets/css/system-font-stack/ */
:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background-color: #343434;
  color: #f7f7f7;
  font-family: var(--system-ui);
}

.interface {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.player {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-art {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  background-color: #dcdcdc;
}

.btn-recommendations {
  position: absolute;
  top: 5px;
  right: 5px;
}

.album-art a {
  display: flex;
  width: 100%;
}

.album-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
